<div id="footer">
  <div class="container">
    <div class="socialnetwork-home">
        <ul class="social-network list-inline">
        <li>
        <a href="#" onclick="window.open(&quot;https://twitter.com/share?url=http://deldichoalhecho.com.uy/&amp;via=DichoAlHechoUY&amp;text=Del Dicho al Hecho, lorem ipsum.&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
        <li>
        <a href="#" onclick="window.open(&quot;https://www.facebook.com/sharer/sharer.php?u=http://deldichoalhecho.com.uy/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
        <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        </a>
        </li>
        </ul>
    </div>
    <div id="disqus_thread"></div>
      <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a href="mailto:hola@deldichoalhecho.com.uy?Subject=Prensa%20de%20Del%20dicho%20al%20hecho" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto</a></li>
                <li><a href="https://github.com/ciudadanointeligente/check-it" target="_blank"><i class="fa fa-github-alt"></i> Revisa nuestro código en Github</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li></li>
          </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Revisá nuestras redes sociales:</li>
                <li><a href="https://www.facebook.com/pages/Del-Dicho-al-Hecho"><i class="fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://twitter.com/DichoAlHechoUY"><i class="fa fa-twitter"></i> Twitter</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li><a href="http://www.ciudadanointeligente.org/" target="_blank"><img src="static/img/logo-ciudadanoi.png" title="Fundación Ciudadano Inteligente"></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="http://www.uycheck.com/" target="_blank"><img src="static/img/logo-uycheck.png" title="UYCheck"></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="#" target="_blank"><img src="static/img/logo-ddah-uy.png" title="Del dicho al hecho"></a></li>
            </ul>
        </div>

      </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ config.DISQUS_SHORTCODE }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>