{% load flatpages %}
{% load staticfiles %}
<div class="header">
      <div class="container">
        <h3 class="title"><a href="/"><img src="{% static "img/uy-logo-ddah.png" %}"></a></h3>
        <ul class="nav nav-pills">
          {% get_flatpages as flatpages %}
            {% for page in flatpages %}
            <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <li><a href="https://docs.google.com/document/d/1VRfCD9xDzvbOfJpnjHqUdnFtFeQ1akxix_ZQxP6EyOM/edit" target="_blank">Metodología</a></li>
        </ul>
      </div>
</div>
