{% load flatpages %}
{% load staticfiles %}
<div class="header">
      <div class="container">
        <h3 class="title"><a href="/"><img src="{% static "img/uy-logo-ddah.png" %}"></a></h3>
        <ul class="nav nav-pills">
          {% get_flatpages as flatpages %}
            {% for page in flatpages %}
            <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          <li><a href="#">Montevideo</a></li>
          <li><a href="http://canelones.deldichoalhecho.com.uy/">Canelones</a></li>
          <li><a href="http://flores.deldichoalhecho.com.uy/">Flores</a></li>
          <li><a href="http://rivera.deldichoalhecho.com.uy/">Rivera</a></li>
          <li><a href="https://drive.google.com/file/d/0B8T-o5xDVjUnNHB2NUM3ZVB3WDA/view?usp=sharing" target="_blank">Metodología</a></li>
        </ul>
      </div>
</div>
